.headerContainer {
  display: flex;
  justify-content: space-between;
  align-content: center;
  text-align: center;
  margin: 4px 32px;
}
.headerTitleContainer {
}
.headerTitle {
  font-size: 40px;
  color: aliceblue;
}
.headerCounterContainer {
  display: flex;
}
.headerCounterTeamContainer {
  position: relative;
  display: flex;
  margin: 0px 32px;
}
.headerCounterContainer h2 {
  font-size: 32px;
  font-weight: 800;
}
.headerCounterTitleTeam1 {
  color: #2aba5f;
}
.headerCounterTitleTeam2 {
  color: rgb(153, 24, 148);
}
.headerTurnText {
  margin-top: 10px;
  background-color: rgb(198, 44, 44);
  border-radius: 40px;
  height: 15px;
  width: 15px;
  padding: 5px;
}
