.boardScreen,
.boardScreenNotGuessing {
  flex: 2;
  justify-content: center;
  align-items: center;
  margin: 16px;
  position: relative;
}
.boardScreenNotGuessing::after {
  align-content: center;
  border-radius: 20px;
  font-size: 60px;
  font-weight: 800;
  color: aliceblue;
  content: "Try a new card!";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.cardScreen {
  flex: 1;
  margin: 0px 20px;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-content: center;
  text-align: center;
  margin: 4px 32px;
}
.headerTitleContainer {
}
.headerTitle {
  font-size: 40px;
  color: aliceblue;
}
.headerCounterContainer {
  display: flex;
}
.headerCounterContainer h2 {
  font-size: 32px;
  margin: auto 32px;
}
.headerCounterTitleTeam1 {
  color: #2aba5f;
}
.headerCounterTitleTeam2 {
  color: rgb(153, 24, 148);
}
