.CoordinatesCell {
  background-color: #34aeae;
  aspect-ratio: 1;
  margin: 3px;
  border-radius: 10px;
  border: 4px solid #eab2f8;
  color: black;
  align-content: center;
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  color: #bc0f74;
}

.CoordinatesDummyCell {
  aspect-ratio: 1;
  margin: 3px;
  border: 4px solid transparent;
  align-content: center;
  text-align: center;
}
