.CoordinatesCell {
  padding: 0px;
  margin: 5px;
  border: 2px solid #ffffff;
  border-radius: 50px;
  color: black;
  align-content: center;
  text-align: center;
  width: 10vh;
  height: 10vh;
  background: rgb(43, 43, 43);
  background: radial-gradient(
    circle,
    rgba(43, 43, 43, 0.1643251050420168) 8%,
    rgba(66, 66, 66, 1) 100%
  );
}
.CoordinatesCellText {
  font-size: 40px;
  font-weight: 800;
  color: #ffffff;
}

.CoordinatesDummyCell {
  width: 22vh;
  height: 10vh;
  margin: 3px;
  border: 4px solid transparent;
  align-content: center;
  text-align: center;
}
