.cardContainer {
  aspect-ratio: 1/1.5;
  width: 60%;
  border-radius: 10px;
  border: 10px solid #a63979;
  background-color: #ffffff9d;
  display: flex;
  margin: 20px auto;
}

.cardContainer:hover {
  border: 14px solid #a63979;
  background-color: #c7bfbf9d;
  display: flex;
  margin: 20px auto;
}
.textContainer {
  text-align: center;
  margin: auto;
}
.cardText {
  font-size: 80px;
  font-weight: 1000;
  color: #bc0f74;
}
