.boardCell {
  background-color: #eab2f8;
  margin: 3px;
  border-radius: 10px;
  border: 4px solid #34aeae;
  color: black;
  align-content: center;
  text-align: center;
  width: 10vh;
  height: 10vh;
}
.boardCell:hover {
  background-color: #df89f5;
  margin: 0px;
  border: 7px solid #34aeae;
}
